html {
  font-size: 62.5%;
}

body {
  background: url(../images/bg-desktop.svg) no-repeat hsl(257, 40%, 49%);
  margin: 5rem 7rem 0rem 7rem;
}

header {
  margin-bottom: 5rem;
}
header img {
  height: 5.2rem;
}

main {
  display: flex;
}

main img {
  height: 43rem;
}

main .about {
  padding: 3rem;
}

main .about h2 {
  padding-bottom: 1rem;
  font-size: 3rem;
  font-weight: 500;
}

main .about p {
  font-weight: 300;
  max-width: 50rem;
  margin-bottom: 2rem;
}

main .about .register-button {
  width: fit-content;
  border-radius: 5rem;
  background-color: #fff;
}

main .about .register-link {
  width: 19rem;
  height: 5rem;
  border-radius: 5rem;
  color: hsl(257, 40%, 49%);
  display: flex;
  justify-content: center;
  align-items: center;
}

main .about .register-button:hover {
  background-color: hsl(300, 69%, 71%);
  box-shadow: 1px 5px 10px #3d3c3c;
  transition: 0.3s ease-in-out;
}

main .about .register-link:hover {
  color: #fff;
}

footer {
  min-width: 83.5rem;
  max-width: 115rem;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

footer .socials {
  width: 12rem;
  gap: 1rem;
  display: flex;
  justify-content: flex-end;
}

footer .socials i {
  font-size: 1.5rem;
  border: 1px solid #fff;
  border-radius: 5rem;
  height: 3.3rem;
  width: 3.3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer .socials i:hover {
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
  transition: 0.3s ease-in-out;
}
